section{
  border: 2px solid black;
  margin: 15px;
  padding: 1.5%;
}
.content{
  margin:15px;
  font-family: "Inter", sans-serif;
}
#read1{
  color: #000000;
}
#read2{
  margin:15px;
  color: black;
  font-family: "Inter", sans-serif;
}
img{
  width: 500px;
  margin-left: 15px;
}
ol{
  padding-left: 22px;
}
